*.html
.venv
solargraph_api/target

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
solarweb/node_modules
solarweb/.pnp
solarweb/.pnp.*
solarweb/.yarn/*
!solarweb/.yarn/patches
!solarweb/.yarn/plugins
!solarweb/.yarn/releases
!solarweb/.yarn/versions

# testing
solarweb/coverage

# next.js
solarweb/.next/
solarweb/out/

# production
solarweb/build

# misc
.DS_Store
solarweb/*.pem

# debug
solarweb/npm-debug.log*
solarweb/yarn-debug.log*
solarweb/yarn-error.log*
solarweb/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
solarweb/.env*

# vercel
solarweb/.vercel

# typescript
solarweb/*.tsbuildinfo
solarweb/next-env.d.ts
