[Unit]
Description=Solar Graph Service
After=network.target

[Service]
Type=exec
User=solargraph
Group=solargraph
ExecStart=/opt/solargraph/solargraph_api/target/release/solargraph_api /opt/solarlogging/solarlogging.db 0.0.0.0
Restart=always
SyslogIdentifier=solargraph

[Install]
WantedBy=multi-user.target
